nav {
    background-color: #AAA;
    display: inline-block;
    width: 100%;
}

nav a {
    color: black;
    padding: 8px;
    display: block;
    float: left;
}

nav a:hover {
    background-color: #555;
    color: white
}

.right {
    float: right;
    display: block;
}