<!DOCTYPE html>
<html>
    <head>
        <title>{{.BookName}}書籍資訊</title>
        <link type="text/css" rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        {{template "main_header"}}
        <main>
            <h1>{{.BookName}} 書籍資訊</h1>

        </main>
        {{template "footer"}}
    </body>
</html>