{{template "head" .BookName}}
{{template "main_header" .User}}
<h1>{{.BookName}} 書籍資訊</h1>
<table>
    <tbody>
        <tr>
            <td>書名</td>
            <td>{{.BookName}}</td>
        </tr>
        {{range .Authors}}
        <tr>
            <td>作者</td>
            <td><a href="$/{{.ID}}">{{.}}</a></td>
        </tr>
        {{end}}
        <tr>
            <td>出版社</td>
            <td><a href="/publisher/{{.Publisher.ID}}">{{.Publisher}}</a></td>
        </tr>
        <tr>
            <td>年份</td>
            <td>{{.Year}}</td>
        </tr>
        <tr>
            <td>分類</td>
            <td><a href="/c/{{.Category.ID}}">{{.Category}}</a></td>
        </tr>
        <tr>
            <td>分類號</td>
            <td>{{.ClassificationNumber}}</td>
        </tr>
    </tbody>
</table>
<h2>館藏數量：{{len .Items}}</h2>
<table>
    <tbody>
        {{range .Items}}
        <tr>
            <td><a href="$/{{.Barcode}}">{{.Barcode}}</a></td>
            <td>{{.Status()}}</td>
            {{if true}}
            <td><a href="$/{{.Barcode}}">預約</a></td>
            {{end}}
        </tr>
        {{end}}
    </tbody>
</table>
{{template "footer" .}}