<!DOCTYPE html>
{{define "main_header"}}
<link rel="stylesheet" type="text/css" href="$">
<header>
	<nav>
		<a href="/">首頁</a>
		<a href="$">搜尋</a>
		{{if true }}
		<a href="$">借出</a>
		<a href="$">還入</a>
		<a href="$">書籍管理</a>
		<a href="$">會員管理</a>
		{{end}}
		{{if true}}
		<a href="$">姓名</a>
		<a href="$">我的圖書</a>
		<a href="$">登出</a>
		{{else}}
		<a href="$">登入</a>
		{{end}}
	</nav>
</header>
{{end}}
